@import url('https://fonts.cdnfonts.com/css/modern-no-20');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #46A29F;
  --secondary: #E3D9D9;
  --black: #000000;
  --66FCF1: #66FCF1;
  --1A1A1C: #1A1A1C;
  --4E4E50: #4E4E50;
  --E3D9D9: #E3D9D9;
}

#root {
  height: 100%;
}

body {
  height: 100vh;
  background-color: #1A1A1C;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}


/* Customize scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #33333300;
}

body::-webkit-scrollbar-thumb {
  background-color: #45A29E;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #7aeded;
}


.font-modern {
  font-family: 'Modern No. 20', sans-serif !important;

}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}

.font-inter {
  font-family: 'Inter', sans-serif !important;
}

.font-palatino {
  font-family: 'Palatino', sans-serif;
}

.nav-link {
  color: var(--secondary);
}

.card-shadow {
  box-shadow: 14px 4px 14px 0px #00000040;
}

.nav-card {
  background-color: #222222;
  box-shadow: 12px 12px 24px #000, -12px -12px 24px #7e7e7e;
}

.strokeme {
  color: var(--1A1A1C);
  /* background-color: white; */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.custom-gradient-text {
  background: linear-gradient(87.02deg, #66FCF1 3.39%, #70C7C0 36.81%, #46A29F 61.61%, #A7AAB1 98.79%);
  -webkit-background-clip: text;
  /* For Safari */
  background-clip: text;
  color: transparent;
  /* Hide the text */
}

.slick-next {
  right: -50px !important;
  display: none;
}

.slick-prev {
  left: -50px !important;
  display: none;
}

.slick-dots {
  display: flex !important;
}

.slick-dots li {
  width: 70px !important;
  height: 10px !important;
}

.slick-dots li img {
  height: 40px;
  width: 70px;
  border: 1px solid beige;
}

.slick-slide img {
  border-radius: 30px;
  height: 500px;
  min-width: 840px;
  max-width: 840px;
}


slick-slider .slick-track,
.slick-slider .slick-list {
  /* width: 100%; */
  min-width: 840px;
  max-width: 840px;
  height: 500px;
  border-radius: 30px;
  object-fit: cover;
}


/* ***************Slider*********** */
.card {
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  width: 280px;
  height: 280px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

button {
  margin: 10px;
  background-color: white;
  border: transparent;
  padding: 7px;
  height: 50px;
  width: 50px;
  border-radius: 500px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  margin: 20px;
}



/* ************Animation************* */
.slide-in-animation {
  animation: slideIn 3.5s ease forwards;
  opacity: 0;
  /* Ensure the image starts hidden */
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}