@import url('https://fonts.cdnfonts.com/css/modern-no-20');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #46A29F;
  --secondary: #E3D9D9;
  --black: #000000;
  --66FCF1: #66FCF1;
  --1A1A1C: #1A1A1C;
  --4E4E50: #4E4E50;
  --E3D9D9: #E3D9D9;
}

#root {
  height: 100%;
}

body {
  height: 100vh;
  background-color: #222222;
}

.font-modern {
  font-family: 'Modern No. 20', sans-serif !important;

}

.font-roboto {
  font-family: 'Roboto', sans-serif !important;
}

.nav-link {
  color: var(--secondary);
  font-size: 16px;
}

.card-shadow {
  box-shadow: 14px 4px 14px 0px #00000040;
}

.strokeme {
  color: var(--1A1A1C);
  /* background-color: white; */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.custom-gradient-text {
  background: linear-gradient(87.02deg, #66FCF1 3.39%, #70C7C0 36.81%, #46A29F 61.61%, #A7AAB1 98.79%);
  -webkit-background-clip: text;
  /* For Safari */
  background-clip: text;
  color: transparent;
  /* Hide the text */
}

.carousel .slide img {
  /* width: 50% !important; */
  height: 450px;
  width: 800px;
  border-radius: 20px;
}

.carousel .slide .legend {
  display: none !important;
}

.carousel .thumbs {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 20px;
}

.carousel .thumb {
  width: 80px !important;
  height: 48px !important;
}

.carousel .carousel-status {
  display: none !important;
}

.carousel.carousel-slider .control-arrow {
  top: 40% !important;
}


/* ***************Slider*********** */
.card {
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  width: 280px;
  height: 280px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

button {
  margin: 10px;
  background-color: white;
  border: transparent;
  padding: 7px;
  height: 50px;
  width: 50px;
  border-radius: 500px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  margin: 20px;
}